@import url('https://fonts.google.com/specimen/Sora?query=sora');

body {
    height:100vh;
    display: flex;
    align-items: center;
    justify-content:center; 
    background-color: rgba(240, 240, 240, 0.116);
    flex-direction: column;
}

.square {
    max-height: 310px; 
    height: 100%; 
    max-width: 300px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(176, 177, 179, 0.05);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    position: relative;
}

.photo {
    max-width: 300px;
    width: 100%; 
    max-height: 250px;
    height: 100%; 
    border-radius: 15px;
    overflow: hidden;
    margin: 0 auto; 
}

button {
    background-color: #E6D6FC;
    color: #883AE1;
    border: none;
    padding: 4px 9px;
    border-radius: 20px;
    font-size: 9px;
    cursor: pointer;
    width: 60px;
    height: 20px;
    margin-top: 16px;
    font-family: 'Sora', sans-serif;
}

.text {
    margin-top: 16px;
    font-size: 17px;
    font-family: 'Sora', sans-serif;
    letter-spacing: 0.1px; 
}

.smalltext {
    margin-top: 6px;
    margin-bottom: 0px;
    color: #6C727F;
    font-size: 13px;
    font-family: 'Sora', sans-serif;
}

.line {
    height: 1px;
    width: calc(100% + 30px); 
    background-color: #6C727F;
    position: relative;
    left: -15px;
    margin-top: 16px;
}

.name {
    margin-top: 16px;
    color: #6C727F;
    font-family: 'Sora', sans-serif;
    font-size: 11px;
}
